.padding-10 {
    padding: 10px;
}
.work-container {
    padding: 10px;
    border-radius: 10px;
    background: #c9d99e;
}


.img-container {
    height: 600px;
    width: 100%;
}
i:hover {
    cursor: pointer;
}
.carousel-item > img{
    margin: auto;
}
.hidden {
    display: none;
}

